.header {
  display: flex;
  background-color: #D1CAC9;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  color: #292929;
  height: 200px;
  justify-content: center;
}

.header span {
  font-size: 35px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.item_row {
  display: flex;

}

.item_photo {
  width: 100%; 
  height: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

.info {
  background-color: #D1CAC9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.info_margin {
  margin: 10px;
}

.avail {
  background-color: black;
  color: white;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: transform 0.5s;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.info_button {
  outline: 2px solid black;
  width: calc(100% - 20px);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

hr {
  width: 100px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.title {
  margin-top: 100px;
}

.about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D1CAC9;
  width: 60%;
  padding: 75px;
  margin: 150px;
  position: absolute;
  top: 0px;
}

.about_card_back {
  position: relative;
}

.about_card h1 {
  margin: 0;
}

.about_card hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about_text {
  text-align: center;
}

.show_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2px 2px #888;
  margin: 50px;
  width: 240px;
  height: 240px;
}

.show_card img {
  margin-top: 25px;
  width: 50%;
  height: auto;
  transition: opacity 0.5s;
}

.show_card img:hover {
  opacity: 0;
}

.show_card_row {
  display: flex;
}

.show_card span {
  margin-top: 50px;
  font-size: 18px;
}

.form_back {
  background-color: #D1CAC9;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.contact_card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 60%;
}

.contact_card h4 {
  margin: 0;
}

.contact_card h1 {
  margin: 0;
}

.contact_card hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact_card textarea {
  resize: none;
}

.form_row {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.form_input {
  outline: 0;
  border: 2px solid black;
  padding: 20px;
  flex: 3 0 auto;
}

.form_input#fname {
  margin-right: -1px;
  margin-bottom: -1px;
}

.form_input#lname {
  margin-left: -1px;
  margin-bottom: -1px;
}

.form_input#email {
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  z-index: 10;
}

.form_input#ordern {
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.form_input_long {
  flex: 3 0 150px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: -1px;
}

.submit_form_button {
  background-color: #373b4d;
  color: white;
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
  align-self: flex-end;
  margin-top: 20px;
  transition: background-color 0.25s;
}

.submit_form_button:hover {
  background-color: black;
  cursor: pointer;
}

.image_title {
  width: 100%;
  height: 800px;
  background-size: 100%;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-image: url('https://static.wixstatic.com/media/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg/v1/fill/w_1294,h_1052,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/a858c7_0c8cd4cb13b747ecac8c4fe16ee515fd~mv2_d_2000_1335_s_2.jpg');
}

.image_title .icon_row_top {
  margin-top: 360px;
}

.aligncenter {
  padding-top: 100px;
  text-align: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.home_link, .collection_link, .about_link, .contact_link {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f2e2e;
  color: white;
  padding: 50px;
}

.icon_row img {
  margin: 3px;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';font-size: 15px;
}

@font-face { font-family: Avenir; src: url('Avenir Light.ttf'); } 

.font_7 {
	font: var(--font_7);
	color: rgb(var(--color_15));
	letter-spacing: 0em;
}